<!DOCTYPE html>
<html>
  <head>
    <title>PayStripe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Stripe -->
    <%= tag.meta name: "stripe-key", content: Pay::Stripe.public_key %>
    <script src="https://js.stripe.com/v3/" defer></script>
  </head>
  <body>
    <main class=" dark:bg-gray-900">
     <%= render "layouts/navbar" %>
      <%= yield %>
    </main>
  </body>
</html>
